package layout

templ NavBar() {
	<div class="navbar">
		<div class="flex-1">
			<a href="/" class="btn btn-ghost text-xl">
				<img src="/images/moon.png" alt="logo" class="h-8 w-8"/>
				DreamWizard
			</a>
		</div>
	</div>
}
